

.genialno {
    display: flex;
    flex-flow: row wrap;
}

.topmenu-wrapper {
    order: 1;
    width: 100%;
    flex: 1 100%;
}




.tabs-logo-wrapper {
    flex: 0 0 250px;
    order: 3;
    display: block;
    width: 60%;
    margin: 0 auto;
}

.logo-wrapper {

    display: none;
}

.tabs-wrapper {
    position: sticky;
    top: 0;
    height: 100vh;
    overflow-y: auto;
    display: block;
    padding-bottom: 10px;
    box-sizing: border-box;
    scrollbar-color: var(--theme-sbthumb) var(--theme-sbtrack);
    scrollbar-width: thin;
}
.tabs-wrapper ::-webkit-scrollbar {
    width: 4px;
}



.tabs-block {
    display: block;
    /* width: 16%; */
    padding-left: 2px;
    box-sizing: border-box;
}

.tabs-header {
    height: 20px;
    font-weight: bold;
    padding-left: 5px;
    box-sizing: border-box;
}

.tabs-ul {
    list-style: none;
    padding-inline-start: 5px;
    margin-block-start: 5px;
    font-size: 0.95em;
    line-height: 1.6;
    margin-left: 10px;
}



.boardtitle-wrapper {
    order: 2;
    display: block;
    width: 100%;
    min-width: 1060px;
    margin: 0 auto;
    text-align: center;
    border-bottom: 1px solid var(--main-hr-color);
    padding-bottom: 20px;
    box-sizing: border-box;
}







 .content-wrapper {
    order: 4;
    flex: 1 1;
 }

.threadboard-wrapper {
    /* border-top: 1px solid #D0AB65; */
    margin: 5px auto;
    padding-top: 5px;
}

