.genialno {
    display: flex;
    flex-direction: column;
}
.topmenu-wrapper {
    width: 100%;
    display: table;
}
.tabs-logo-wrapper {
    display: none;

}

.boardtitle-wrapper {
    display: block;
    width: 100%;
    min-width: 1060px;
    margin: 0 auto;
    text-align: center;
}

.threadboard-wrapper {
    border-top: 1px solid var(--main-hr-color);
    margin: 10px auto;
}






