
  
body {
    font-size: 15px;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    font-family: arial, sans-serif;
    /* font-family: 'Times New Roman', Times, serif; */
    line-height: 1.2;
    margin: 0;
}

hr {
    border-style: solid none none none;
    border-top-width: 1px;
    height: 1px;
}

.genialno {
    display: flex;
    flex-direction: column;
}

.topmenu-wrapper {
    font-size: 0.9em;
    width: 100%;
    display: table;
    border-bottom: 1px solid var(--main-hr-color) ;
}

.menu {
    height: 40px;
    width: 100%;
    display: table-row;

}

.topmenu-left {
    padding: 5px;
    box-sizing: border-box;

display: table-cell;
width: 50%;   
}

.topmenu-right {
    padding: 5px;
    box-sizing: border-box;

display: table-cell;   
 text-align: right;
 width: 50%;   

}

.tabs-logo-wrapper {
    display: none;

}

.logo-wrapper {
    width: 100%;
    height: 110px;
    padding: 20px 0 20px 0;
    box-sizing: border-box;
    vertical-align: middle;
    display: table;
}

.logo {
    float: left;
    display: inline;
    font-size: 2em;
    color: rgb(36 44 44);
    vertical-align: middle;
    display: table-row;
    width: 100%;

}
.tabs-wrapper {
    display: block;
    padding-bottom: 10px;
    box-sizing: border-box;
}

.tabs-block {
    display: inline-block;
    width: 16%;
    padding-left: 2px;
    box-sizing: border-box;
}

.tabs-header {
    height: 20px;
    font-weight: bold;
    padding-left: 5px;
    box-sizing: border-box;
}

.tabs-ul {
    list-style: none;
    padding-inline-start: 5px;
    margin-block-start: 5px;
    font-size: 0.95em;
    line-height: 1.6;
}



.boardtitle-wrapper {
    display: block;
    width: 60%;
    min-width: 1060px;
    margin: 0 auto;
    text-align: center;
}

.boardtitle-menu {
    font-size: 0.9em;
    width: 100%;
    display: table;
}
.boardtitle-menu-row{
    display: table-row;
}
.boardtitle-menu-left {
    display: table-cell;
    text-align: left;
    padding-left: 10px;
    box-sizing: border-box;
    width: 50%;

}

.boardtitle-menu-right {
        display: table-cell;
        text-align: right;
        padding-right: 10px;
        box-sizing: border-box;

        width: 50%;
}
.slider {
    /* position: absolute; */
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin-left: 3px;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    /* position: absolute; */
    content: "";
    height: 15px;
    width: 15px;
    left: 4px;
    bottom: 4px;
    top: 2px;
    background-color: #ffffee;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  
  
  input:checked + .slider:before {
    -webkit-transform: translateX(15px);
    -ms-transform: translateX(15px);
    transform: translateX(15px);
  }

  .boardtitle-banner {
    padding-top: 30px;
    padding-bottom: 20px;
    box-sizing: border-box;
    display: block;
}
.boardtitle-banner-image {
    margin: 0 auto;
}

.boardtitle-title {
    font-size: 2em;
    font-weight: bold;
}

.boardtitle-create{
    font-size: 1.1em;
}

/* Body font-size 15
	Flex box
		Topmenu-wrapper font size 0.9em
			Topmenu-left max-width 500
			Topmenu-right
			Mobile-menu
			hr
		Zakladki-wrapper
			Logo-wrapper
			Zakladki
				Zakladki-block inline-block 16.6%
					Zakladki-block-header 20px 
					Ul font size 0.9em
						Li
				Hr
				
			
		Boardtitle-wrapper
		Content-wrapper
		
		
		
	 */
/* 
     <div class = "content-wrapper">
     <div class = "threadboard-wrapper">
         <div class = "threadboard-page">
             <div class = "thread-wrapper">
                 <div class = "thread-title">

                 </div>
                 <div class = "op-post-wrapper">
                     <div class = "images-single">
                         
                     </div>
                     <div class = "op-post-text">

                     </div>
                 </div>
                 <div class = "thread-missed">

                 </div>
                 <div class = "post-wrapper">
                     <div class = "post-title">

                     </div>
                     <div class = "post-reply-wrapper">
                         <div class = "images-single">

                         </div>
                         <div class = "post-text">
                             
                         </div>
                     </div>
                 </div>
             </div>
         </div>
     </div>
 </div> */

.threadboard-wrapper {
    width: 98%;
    border-top: 1px solid var(--main-hr-color);
    margin: 10px auto;
    padding-top: 5px;
    box-sizing: border-box;
}

.thread-wrapper {

    margin-left: 0;;
}
.op-post-wrapper {
    max-width: 70vw;
    margin-left: 15px;
}
.thread-details-title {
    font-size: 1.1em;
    font-weight: bold;
  }
  
.images-single {
    display: inline-block;
    margin-right: 15px;
}

.images-multiple {
    display: block;
}

.image-block {
    display:inline-block;
    vertical-align: top;
}
.image-title {
    font-size: 0.85em;
    max-width: 200px;
    padding-top: 5px;
}

.op-post-text-image-single {
    display: inline-block;
    /* min-width: 500px; */
    max-width: 78%;
    padding-top: 40px;
    box-sizing: border-box;
    vertical-align: top;
}
.op-post-text-image-multiple {
    display: inline-block;
    /* min-width: 500px; */
    /* max-width: 70%; */
    padding-top: 40px;
    box-sizing: border-box;
    vertical-align: top;
}


.thumbnail {
    max-width: 200px;
    max-height: 200px;
}

.thumbnail-reply {
    max-width: 160px;
    max-height: 160px;
}

.thread-missed {
    font-size: 0.9em;
    margin-top: 5px;
}
.replies {
    font-size: 0.9em;
    margin-top: 5px;
}

.post-wrapper-block {
    display: block;
    width: 100%;
}
.post-wrapper {
    display: inline-block;
    max-width: 60vw;
    padding: 5px;
    margin: 5px 0 0 15px;
    box-sizing: border-box;
}
.thread-title {
    font-size: 0.95em;
}
.post-title {
    font-size: 0.95em;
}
.post-text-image-single {
    display: inline-block;
    max-width: 40vw;
    box-sizing: border-box;
    vertical-align: top;
    padding-top: 35px;
}

.post-text-image-multiple {
    display: block;
    max-width: 50vw;
    box-sizing: border-box;
}

.post-text-image-none {
    max-width: 40vw;

}


.post-reply-wrapper {
    padding: 15px;
    box-sizing: border-box;
}





  
  
  